@charset "utf-8";

/* reset */
* { margin:0;  padding:0; box-sizing: border-box;}
ol,ul { list-style: none; }
a { outline:0; text-decoration:none; color:#ddd; }
img { border:0;}
body { font:14px/1.6 'Roboto', sans-serif; color:#ddd; background: #111; }

/* NVIDIA Green: #76b900 */

/* Layout */
header { position:fixed; width:18%; height:100%; background:#000; top:0px; left:0px; transition:all 0.5s; border-right: 1px solid #333;}
nav { position:relative; width:82%; height:35px; background:#1a1a1a; margin-left:18%; transition:all 0.5s;}
section {
	width: 82%;
	margin-left: 18%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: 260px;
}

section > div {
	transition:all 0.5s;
	animation:scale 1s 1;
	background-color: #2a2a2a;
}

/* Grid item placement */
section > div:nth-child(1) { grid-column: span 3; grid-row: span 2; }
section > div:nth-child(2) { grid-column: span 2; }
section > div:nth-child(3) { grid-column: span 1; }
section > div:nth-child(4) { grid-column: span 1; }
section > div:nth-child(5) { grid-column: span 1; }
section > div:nth-child(6) { grid-column: span 2; }
section > div:nth-child(7) { grid-column: span 1; }
section > div:nth-child(8) { grid-column: span 1; }
section > div:nth-child(9) { grid-column: span 2; }
section > div:nth-child(10) { grid-column: span 1; }
section > div:nth-child(11) { grid-column: span 1; }
section > div:nth-child(12) { grid-column: span 1; }

@keyframes scale {
	0% { transform:scale(0); }	
	100% { transform:scale(1); }
}
section > div > div { position:relative; width:100%; height:100%; overflow:hidden; cursor:pointer; }

/* header contents */
header h1 { width:180px; height:80px; background:url(../img/logo1.png) no-repeat center center; background-size:contain; position:absolute; top:50px;	left:50%; margin-left:-90px; text-indent:-9999px;}
#gnb { position:absolute; top:250px; width: 100%; text-align: center;}
#gnb a { display:block; padding:12px 30px;	font-size:18px; font-weight:bold; color:#fff; text-align:left; line-height:1.8; transition:all .5s; border-bottom: 1px solid #222;}
#gnb a:hover { color:#76b900; background: #111;}
#gnb a i { margin-right:15px; width: 20px; text-align: center;}
.snsSet { width:100%; padding: 0 20px;	height:47px;	position:absolute; bottom:50px; left:0; display: flex; justify-content: space-around;}

/*nav*/
nav { display: flex; justify-content: flex-end; align-items: center; padding: 0 20px;}
nav a { position: static; margin-left: 20px; }


/* Background Images */
.bg1 { background-image:url(../img/pic1.jpg);}
.bg2 { background-image:url(../img/pic2.jpg);}
.bg3 { background-image:url(../img/pic3.jpg);}
.bg4 { background-image:url(../img/pic4.jpg);}
.bg5 { background-image:url(../img/pic5.jpg);}
.bg6 { background-image:url(../img/pic6.jpg);}
.bg7 { background-image:url(../img/pic7.jpg);}

/* Image Box */
.bg { background-size:cover; background-position:center center; }
.bg span { font-size:60px; color:#fff;	position:absolute; bottom:0px; right:20px; transform:scale(10); opacity:0;	transition:all 0.6s; text-shadow: 1px 1px 10px #000;}
.bg1 span { font-size:120px; bottom:-45px; right: 10px; opacity:1; transform:scale(1); transition:all 0.5s;}

/* Image Box Hover */
section > div:hover .bg span { opacity:1; transform:scale(1);}
section > div:hover .bg { filter: brightness(1.2); }
.bg1:hover span { transform:rotateY(360deg); color:#76b900; }

/* Text Box */
.txt { color:#ccc; background:#222; padding:40px 30px; transition:all 1s;}
section > div:nth-child(3) .txt { background:#76b900;}
section > div:nth-child(3) .txt, section > div:nth-child(3) .txt p { color: #000; }
section > div:nth-child(11) .txt { background:#333;}
.txt i { font-size:200px; color:#76b900; opacity:0; position:absolute; bottom:-70px; right:-150px; transition:all 0.7s;}
section > div:nth-child(3) .txt i { color:#fff; opacity:0.7; font-size: 150px;}
.txt strong { font-size:28px;	font-weight:bold; line-height:1.4;	color:#fff; margin-bottom:20px; transition:all 1s;}

/* Text Box Hover */
section > div:hover .txt { background:#76b900; color:#000;}
section > div:hover .txt i { right:-10px; opacity:0.5;}
section > div:hover .txt strong { color:#000;}
section > div:hover .txt, section > div:hover .txt a { color: #000; }

/* --- Media Queries --- */

@media screen and (max-width: 1599px) {  
	header { position:relative; width:100%; height:auto; padding: 20px 0; border-right: none;}
	nav { width:100%; margin-left:0%;}		
	section { width:100%; margin-left:0px;}	
	
	header h1 { position:static; width:200px; height:40px; background-image:url(../img/logo2.png); margin:0 auto;}	
	#gnb { position: static; display: flex; justify-content: center; width: 100%; margin-top: 20px; border-top: 1px solid #333;}
	#gnb a { border: none; }
	.snsSet { position:absolute; bottom:auto; top: 20px; right: 20px; margin: 0; width: auto;}
	.snsSet a { margin: 0 5px; }
}

@media screen and (max-width: 1279px) {
	section {
		grid-template-columns: repeat(4, 1fr);
	}
	section > div:nth-child(1) { grid-column: span 3; }	
	section > div:nth-child(2) { grid-column: span 1; }	
	section > div:nth-child(3) { grid-column: span 1; }	
	section > div:nth-child(4) { grid-column: span 1; }	
	section > div:nth-child(5) { grid-column: span 1; }	
	section > div:nth-child(6) { grid-column: span 2; }	
	section > div:nth-child(7) { grid-column: span 2; }	
	section > div:nth-child(8) { grid-column: span 1; }	
	section > div:nth-child(9) { grid-column: span 1; }	
	section > div:nth-child(10) { grid-column: span 2; }	
	section > div:nth-child(11) { grid-column: span 1; }	
	section > div:nth-child(12) { grid-column: span 1; }
}

@media screen and (max-width: 1023px) {
	section {
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: 200px;
	}
	section > div:nth-child(1) { grid-column: span 3; grid-row: span 2; }	
	section > div:nth-child(2) { grid-column: span 2; }	
	section > div:nth-child(3) { grid-column: span 1; }	
	section > div:nth-child(4) { display: none; }	
	section > div:nth-child(5) { grid-column: span 1; }	
	section > div:nth-child(6) { grid-column: span 2; }	
	section > div:nth-child(7) { display: none; }	
	section > div:nth-child(8) { grid-column: span 1; }	
	section > div:nth-child(9) { grid-column: span 1; }	
	section > div:nth-child(10) { display: none; }	
	section > div:nth-child(11) { grid-column: span 1; }	
	section > div:nth-child(12) { display: none; }
}

@media screen and (max-width: 779px) {
	section {
		grid-template-columns: repeat(2, 1fr);
	}
	section > div:nth-child(1) { grid-column: span 2; }
	section > div:nth-child(2) { grid-column: span 2; }	
	section > div:nth-child(5) { grid-column: span 1; }	
	section > div:nth-child(6) { grid-column: span 1; }	
	section > div:nth-child(8) { grid-column: span 1; }	
	section > div:nth-child(9) { grid-column: span 1; }	
	section > div:nth-child(11) { grid-column: span 1; }	
	section > div:nth-child(12) { grid-column: span 1; }	
}

@media screen and (max-width: 639px) {  
	header { height:auto; padding-bottom: 20px;}	
	nav { display:none;}
	#gnb { flex-wrap: wrap; }
	#gnb li { width: 50%; text-align: center;}
	#gnb a { padding: 10px;}
	
	section {
		grid-template-columns: 1fr;
		grid-auto-rows: 200px;
	}
	section > div {
		grid-column: span 1 !important;
		grid-row: span 1 !important;
	}
	section > div:nth-child(1) { grid-row: span 2 !important; }

	.bg1 span { font-size:100px; bottom:-30px;}	
	.txt strong { font-size:22px;}
	.txt em { display:none;}		
}

@media screen and (max-width: 479px){
	header { position:fixed; width:100%; height:auto; padding: 10px 0; background:rgba(0,0,0,0.8); z-index:5;}
	header h1 { width: 140px; height: 35px; }
	#gnb { display: none; }
	
	body { background: #000; }
	section { display: none; }
}